{% extends directory ~ '/templates/_partials/base/region.html.twig' %}

{% block region__libraries %}
    {{ attach_library('casinodelsol/zz_component.region--branding') }}
{% endblock %}

{% block region__label__prefix %}
    <div class="branding">
        <img src="{{ directory }}/templates/components/region--branding/logo-sticky.gif" alt="">
        <img src="{{ directory }}/templates/components/region--branding/logo-hide.svg" alt="">
    </div>
{% endblock %}