{% extends '@zz_base/block.html.twig' %}


{% block block__libraries %}
    {{ attach_library('casinodelsol/zz_component.menu-block') }}
{% endblock %}


{% block block__content__content %}
    <nav>
        {{ content }}
    </nav>
{% endblock %}