@import 'zz_partial/global-config/theme';


/// Margin of a menu.
/// @type Number
$menu-margin: 0;

/// Left-hand margin of a nested menu.
/// @type Number
$menu-nested-margin: theme('rythm', 'left.base');

/// Padding for items in a pill menu.
/// @type Number
$menu-items-padding: theme('rythm', 'top.base') 0 theme('rythm', 'bottom.base') 0;

/// margin for items in a simple menu.
/// @type Number
$menu-simple-margin: theme('rythm', 'left.small');

/// Text color of an active menu item.
/// @type Color
$menu-item-color-active: theme('colors', 'orange.light');

/// Background color of an active menu item.
/// @type Color
$menu-item-background-active: theme('colors', 'grey.base');

/// Spacing between an icon and text in a menu item.
/// @type Number
$menu-icon-spacing: 0.25rem;

/// Background color for an hovered menu item.
/// @type Color
$menu-item-background-hover: theme('colors', 'grey.base');


.block--menu {
  nav ul {
    @include menu-base;

    @include menu-direction(
        $dir: vertical
    );

    ul {
      @include menu-nested;
    }

    a {
      color: theme('colors', 'brown.base');
      font-size: theme('font', 'size.small');
    }
  }


}