{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{% set label__prefix = block('block__label__prefix')|trim %}
{% set label__content = block('block__label__content')|trim %}
{% set label__suffix = block('block__label__suffix')|trim %}
{% set content__prefix = block('block__content__prefix')|trim %}
{% set content__content = block('block__content__content')|trim %}
{% set content__suffix = block('block__content__suffix')|trim %}

{{ attach_library('casinodelsol/zz_base.block') }}

{% block block__libraries %}
{% endblock %}

<div{{ attributes }}>
    {% block block %}

        {% block block__label %}
            {% if label %}
                <div{{ title_attributes.addClass('label block--label') }}>

                    <div class="label--prefix block--label--prefix">
                        {% if label__prefix is not empty %}
                            {{ label__prefix|raw }}
                        {% else %}
                            {{ title_prefix }}
                        {% endif %}
                    </div>

                    <div class="label--content block--label--content">
                        {% if label__content is not empty %}
                            {{ label__content|raw }}
                        {% else %}
                            {{ label }}
                        {% endif %}
                    </div>

                    <div class="label--suffix block--label--suffix">
                        {% if label__suffix is not empty %}
                            {{ label__suffix|raw }}
                        {% else %}
                            {{ title_suffix }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        {% block block__content %}
            <div{{ content_attributes.addClass('content block--content') }}>

                {% if content__prefix is not empty %}
                    <div class="content--prefix block--content--prefix">
                        {{ content__prefix|raw }}
                    </div>
                {% endif %}

                <div class="content--content block--content--content">
                    {% if content__content is not empty %}
                        {{ content__content|raw }}
                    {% else %}
                        {{ content }}
                    {% endif %}
                </div>

                {% if content__suffix is not empty %}
                    <div class="content--suffix block--content--suffix">
                        {{ content__suffix|raw }}
                    </div>
                {% endif %}
            </div>
        {% endblock %}
    {% endblock %}
</div>
