{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{% set label__prefix = block('field__label__prefix')|trim %}
{% set label__content = block('field__label__content')|trim %}
{% set label__suffix = block('field__label__suffix')|trim %}
{% set content__prefix = block('field__content__prefix')|trim %}
{% set content__content = block('field__content__content')|trim %}
{% set content__suffix = block('field__content__suffix')|trim %}

{{ attach_library('casinodelsol/zz_base.field') }}

{% block field__libraries %}
{% endblock %}

<{{ tag ?: 'div' }}{{ attributes }}>
    {% block field %}

        {% block field__label %}

            {% if not label_hidden %}
                <div{{ title_attributes.addClass('label field--label') }}>

                    {% if label__prefix is not empty %}
                        {#<div class="label--prefix field--label--prefix">#}
                            {{ label__prefix|raw }}
                        {#</div>#}
                    {% endif %}

                    {#<div class="label--content field--label--content">#}
                        {% if label__content is not empty %}
                            {{ label__content|raw }}
                        {% else %}
                            {{ label }}
                        {% endif %}
                    {#</div>#}


                    {% if label__suffix is not empty %}
                        {#<div class="label--suffix field--label--suffix">#}
                            {{ label__suffix|raw }}
                        {#</div>#}
                    {% endif %}
                </div>
            {% endif %}
        {% endblock %}

        {% block field__content %}
            <div{{ content_attributes.addClass('content field--content') }}>

                {% if content__prefix is not empty %}
                    {#<div class="content--prefix field--content--prefix">#}
                        {{ content__prefix|raw }}
                    {#</div>#}
                {% endif %}

                {#<div class="content--content field--content--content">#}
                    {% if content__content is not empty %}
                        {{ content__content|raw }}
                    {% else %}
                        {% for item in items %}
                            <div{{ item.attributes.addClass('field--item') }}>
                                {#<div class="field--item--content">#}
                                    {{ item.content }}
                                {#</div>#}
                            </div>
                        {% endfor %}
                    {% endif %}
                {#</div>#}

                {% if content__suffix is not empty %}
                    {#<div class="content--suffix field--content--suffix">#}
                        {{ content__suffix|raw }}
                    {#</div>#}
                {% endif %}
            </div>
        {% endblock %}
    {% endblock %}
</{{ tag ?: 'div' }}>
