{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}

{% set label__prefix = block('html__label__prefix')|trim %}
{% set label__content = block('html__label__content')|trim %}
{% set label__suffix = block('html__label__suffix')|trim %}
{% set content__prefix = block('html__content__prefix')|trim %}
{% set content__content = block('html__content__content')|trim %}
{% set content__suffix = block('html__content__suffix')|trim %}

{{ attach_library('casinodelsol/zz_base.html') }}

{% block html__libraries %}
{% endblock %}

{% set html_classes = [
    'html',
    node_type ? 'html--'~node_type
] %}

<!DOCTYPE html>
<html{{ html_attributes }}>
{% block html %}
    <head class="label html--label">
    {% block html__label %}
        <head-placeholder token="{{ placeholder_token|raw }}">

        {% if label__prefix is not empty %}
            {{ label__prefix|raw }}
        {% endif %}

        <title class="label--content html--label--content">
            {% if label__content is not empty %}
                {{ label__content|raw }}
            {% else %}
                {{ head_title|safe_join(' | ') }}
            {% endif %}
        </title>

        {% if label__suffix is not empty %}
            {{ label__suffix|raw }}
        {% endif %}

        <css-placeholder token="{{ placeholder_token|raw }}">
        <js-placeholder token="{{ placeholder_token|raw }}">


    {% endblock %}
    </head>


    <body{{ attributes }}>
    {% block html__content %}
        {{ page_top }}

        {% if content__prefix is not empty %}
            <div class="content--prefix html--content--prefix">
                {{ content__prefix|raw }}
            </div>
        {% endif %}

        <div class="content--content html--content--content">
            {% if content__content is not empty %}
                {{ content__content|raw }}
            {% else %}
                {{ page }}
            {% endif %}
        </div>

        {% if content__suffix is not empty %}
            {{ content__suffix|raw }}
        {% endif %}

        {{ page_bottom }}
        <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    {% endblock %}
    </body>

{% endblock %}
</html>
