@import 'zz_partial/global-config/theme';

// Include the html reset styles
@include foundation-global-styles;


html {
  body {
    background-color: theme('color', 'tan.base');
    font-family: 'Museo Sans', museo-sans, $body-font-family;
    @include style('typography', 'p');
  }
}