{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}


{% set label__prefix = block('node__label__prefix')|trim %}
{% set label__content = block('node__label__content')|trim %}
{% set label__suffix = block('node__label__suffix')|trim %}
{% set content__prefix = block('node__content__prefix')|trim %}
{% set content__content = block('node__content__content')|trim %}
{% set content__suffix = block('node__content__suffix')|trim %}
{% set footer__prefix = block('node__footer__prefix')|trim %}
{% set footer__content = block('node__footer__content')|trim %}
{% set footer__suffix = block('node__footer__suffix')|trim %}

{{ attach_library('casinodelsol/zz_base.node') }}

{% block node__libraries %}
{% endblock %}

<article{{ attributes }}>
    {% block node %}

        <div class="label node--label">
        {% block node__label %}

            {% if label %}
                <div class="label--prefix node--label--prefix">
                {% if label__prefix is not empty %}
                    {{ label__prefix|raw }}
                {% else %}
                    {{ title_prefix }}
                {% endif %}
                </div>

                <div class="label--content node--label--content">
                {% if label__content is not empty %}
                    {{ label__content|raw }}
                {% elseif not page %}
                    <a href="{{ url }}" rel="bookmark">
                        <h2{{ title_attributes }}>
                            {{ label }}
                        </h2>
                    </a>
                {% else %}
                    <h2{{ title_attributes }}>
                        {{ label }}
                    </h2>
                {% endif %}
                </div>

                <div class="label--suffix node--label--suffix">
                {% if label__suffix is not empty %}
                {% else %}
                    {{ title_suffix }}
                {% endif %}
                </div>

            {% endif %}{# endif label #}
        {% endblock %}
        </div>






        <div class="content node--content">
        {% block node__content %}

                {% if content__prefix is not empty %}
                    <div class="content--prefix node--content--prefix">
                        {{ content__prefix|raw }}
                    </div>
                {% endif %}

                <div{{ content_attributes.addClass('content--content node--content--content') }}>
                    {% if content__content is not empty %}
                        {{ content__content|raw }}
                    {% else %}
                        {{ content }}
                    {% endif %}
                </div>

                {% if content__suffix is not empty %}
                    <div class="content--suffix node--content--suffix">
                        {{ content__suffix|raw }}
                    </div>
                {% endif %}

        {% endblock %}
        </div>

        {% if display_submitted %}
            <footer class="footer node--footer">
                {% block node__footer %}

                    <div class="footer--prefix node--footer--prefix">
                        {% if footer__prefix is not empty %}
                            {{ footer__prefix|raw }}
                        {% else %}
                            {{ author_picture }}
                        {% endif %}
                    </div>

                    <div{{ author_attributes.addClass('footer--content node--footer--content') }}>
                        {% if footer__content is not empty %}
                            {{ footer__content|raw }}
                        {% else %}
                            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                            {{ metadata }}
                        {% endif %}
                    </div>

                    {% if footer__suffix is not empty %}
                        <div class="footer--suffix node--footer--suffix">
                            {{ footer__suffix|raw }}
                        </div>
                    {% endif %}
                {% endblock %}
            </footer>
        {% endif %}
    {% endblock %}
</article>