{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% set label__prefix = block('page__label__prefix')|trim %}
{% set label__content = block('page__label__content')|trim %}
{% set label__suffix = block('page__label__suffix')|trim %}
{% set content__prefix = block('page__content__prefix')|trim %}
{% set content__content = block('page__content__content')|trim %}
{% set content__suffix = block('page__content__suffix')|trim %}
{% set footer__prefix = block('page__footer__prefix')|trim %}
{% set footer__content = block('page__footer__content')|trim %}
{% set footer__suffix = block('page__footer__suffix')|trim %}

{{ attach_library('casinodelsol/zz_base.page') }}

{% block page__libraries %}
{% endblock %}

<div{{ attributes }}>
    {% block page %}

        <header{{ title_attributes.addClass('label page--label') }}>
            {% block page__label %}

                {% if label__prefix is not empty %}
                    <div class="label--prefix page--label--prefix">
                        {{ label__prefix|raw }}
                    </div>
                {% elseif page.mobile_navigation %}
                    <div class="label--prefix page--label--prefix">
                        {{ page.mobile_navigation }}
                    </div>
                {% endif %}

                {% if label__content is not empty %}
                    <div class="label--content page--label--content">
                        {{ label__content|raw }}
                    </div>
                {% else %}
                    <div class="label--content page--label--content">
                        {{ page.branding }}

                        {{ page.secondary_navigation }}
                    </div>
                {% endif %}

                {% if label__suffix is not empty %}
                    <div class="label--suffix page--label--suffix">
                        {{ label__suffix|raw }}
                    </div>
                {% elseif page.primary_navigation %}
                    <div class="label--suffix page--label--suffix">
                        {{ page.primary_navigation }}
                    </div>
                {% endif %}
            {% endblock %}
        </header>

        <main{{ content_attributes.addClass('content page--content') }}>
            {% block page__content %}

                {% if content__prefix is not empty %}
                    <div class="content--prefix page--content--prefix">
                        {{ content__prefix|raw }}
                    </div>
                {% elseif page.sidebar_first %}
                    <div class="content--prefix page--content--prefix">
                        {{ page.sidebar_first }}
                    </div>
                {% endif %}

                {% if content__content is not empty %}
                    <div class="content--content page--content--content">
                        {{ content__content|raw }}
                    </div>
                {% elseif page.content %}
                    <div class="content--content page--content--content">
                        {{ page.content }}
                    </div>
                {% endif %}

                {% if content__suffix is not empty %}
                    <div class="content--suffix page--content--suffix">
                        {{ content__prefix|raw }}
                    </div>
                {% elseif page.sidebar_second %}
                    <div class="content--suffix page--content--suffix">
                        {{ page.sidebar_second }}
                    </div>
                {% endif %}
            {% endblock %}
        </main>

        <footer role="contentinfo" class="footer page--footer">
            {% block page__footer %}

                {% if footer__prefix is not empty %}
                    <div class="footer--prefix page--footer--prefix">
                        {{ footer__prefix|raw }}
                    </div>
                {% endif %}

                {% if footer__content is not empty %}
                    <div class="footer--content page--footer--content">
                        {{ footer__content|raw }}
                    </div>
                {% elseif page.footer_navigation %}
                    <div class="footer--content page--footer--content">
                        {{ page.footer_navigation }}
                    </div>
                {% endif %}

                {% if footer__suffix is not empty %}
                    <div class="footer--suffix page--footer--suffix">
                        {{ footer__suffix|raw }}
                    </div>
                {% elseif page.footer_left or page.footer_right %}
                    <div class="footer--suffix page--footer--suffix">

                        {% if page.footer_left %}
                            {{ page.footer_left }}
                        {% endif %}

                        {% if page.footer_right %}
                            {{ page.footer_right }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endblock %}
        </footer>
    {% endblock %}
</div>
