@import 'zz_partial/global-config/theme';


.page {
  background-image: url('page--footer--suffix.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  padding-bottom: 40vw;
}

.page--label--content {
  @include xy-grid;
  @include xy-grid-container;

  .region--branding,
  .region--secondary-navigation {
    @include xy-cell();
  }

  .region--branding {
    @include breakpoint(medium) {
      @include xy-cell(2 of 12);
    }
  }

  .region--secondary-navigation {
    @include breakpoint(medium) {
      @include xy-cell(10 of 12);
    }
  }
}

.page--content--content {
  color: theme('color', 'brown.base');
}

.page--footer {
  @include xy-grid-container;

  .page--footer--suffix {
    margin: 0 auto;

    @include xy-grid(
            $direction: horizontal,
            $wrap: false
    );

    @include xy-gutters(
            $negative: true
    );

    & > * {
      @include xy-cell(
              $size: auto,
              $gutter-output: true
      );
    }
  }
}