{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set label__prefix = block('paragraph__label__prefix')|trim %}
{% set label__content = block('paragraph__label__content')|trim %}
{% set label__suffix = block('paragraph__label__suffix')|trim %}
{% set content__prefix = block('paragraph__content__prefix')|trim %}
{% set content__content = block('paragraph__content__content')|trim %}
{% set content__suffix = block('paragraph__content__suffix')|trim %}

{{ attach_library('casinodelsol/zz_base.paragraph') }}

{% block paragraph__libraries %}
{% endblock %}

<div{{ attributes }}>
    {% block paragraph %}

        <div{{ title_attributes.addClass("label paragraph--label") }}>
        {% block paragraph__label %}
            {% if label__prefix is not empty %}
            <div class="label--prefix paragraph--label--prefix">
                {{ label__prefix|raw }}
            </div>
            {% endif %}

            {% if label__content is not empty %}
            <div class="label--content paragraph--label--content">
                {{ label__content|raw }}
            </div>
            {% endif %}

            {% if label__suffix is not empty %}
                <div class="label--suffix paragraph--label--suffix">
                    {{ label__suffix|raw }}
                </div>
            {% endif %}
        {% endblock %}
        </div>

        <div{{ content_attributes.addClass('content paragraph--content') }}>
        {% block paragraph__content %}

                {% if content__prefix is not empty %}
                    <div class="content--prefix paragraph--content--prefix">
                        {{ content__prefix|raw }}
                    </div>
                {% endif %}

                <div class="content--content paragraph--content--content">
                    {% if content__content is not empty %}
                        {{ content__content|raw }}
                    {% else %}
                        {{ content }}
                    {% endif %}
                </div>

                {% if content__suffix is not empty %}
                    <div class="content--suffix paragraph--content--suffix">
                        {{ content__suffix|raw }}
                    </div>
                {% endif %}
        {% endblock %}
        </div>

{% endblock %}
</div>
