@import 'zz_partial/global-config/theme';

.paragraph--content--content {
  h1 {
    @include style('typography', 'h2');
  }
  h2 {
    @include style('typography', 'h3');
  }
  h3 {
    @include style('typography', 'h4');
  }
  h4 {
    @include style('typography', 'h5');
  }
  h5 {
    @include style('typography', 'h6');
  }
  h6 {
    @include style('typography', 'h6');
  }
  p {
    @include style('typography', 'p');
  }
  a {
    @include style('typography', 'a');
  }
}

