{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}



{% set label__prefix = block('region__label__prefix')|trim %}
{% set label__content = block('region__label__content')|trim %}
{% set label__suffix = block('region__label__suffix')|trim %}
{% set content__prefix = block('region__content__prefix')|trim %}
{% set content__content = block('region__content__content')|trim %}
{% set content__suffix = block('region__content__suffix')|trim %}

{{ attach_library('casinodelsol/zz_base.region') }}

{% block region__libraries %}
{% endblock %}

<div{{ attributes }}>
    {% block paragraph %}

        <div{{ title_attributes.addClass("label region--label") }}>
            {% block region__label %}
                {% if label__prefix is not empty %}
                    <div class="label--prefix region--label--prefix">
                        {{ label__prefix|raw }}
                    </div>
                {% endif %}

                {% if label__content is not empty %}
                    <div class="label--content region--label--content">
                        {{ label__content|raw }}
                    </div>
                {% endif %}

                {% if label__suffix is not empty %}
                    <div class="label--suffix region--label--suffix">
                        {{ label__suffix|raw }}
                    </div>
                {% endif %}
            {% endblock %}
        </div>

        <div{{ content_attributes.addClass('content region--content') }}>
            {% block region__content %}

                {% if content__prefix is not empty %}
                    <div class="content--prefix region--content--prefix">
                        {{ content__prefix|raw }}
                    </div>
                {% endif %}

                <div class="content--content region--content--content">
                    {% if content__content is not empty %}
                        {{ content__content|raw }}
                    {% else %}
                        {{ content }}
                    {% endif %}
                </div>

                {% if content__suffix is not empty %}
                    <div class="content--suffix region--content--suffix">
                        {{ content__suffix|raw }}
                    </div>
                {% endif %}
            {% endblock %}
        </div>

    {% endblock %}
</div>
