@import 'zz_partial/global-config/theme';


.region {
    // Content and label never go outside the container area
    // If they do, these styles should be overridden via a selector with more specificity
    .region--label, .region--content {
      @include xy-grid-container;
    }








  /**
   * Footer holds menus, and requires a decent amount of custom styling.
   */
  &.region--footer-navigation .region--content--content {
    @include vertical_rythm(
      $size: 'largest',
      $type: 'padding',
      $silo: 'top',
      $multiplier: 5
    );

    // regular padding + background image height
    padding-bottom: (53px + (theme('rythm', 'bottom.largest') * 5));

    background-image: url('region--divider.png');
    background-size: auto;
    background-position: bottom center;
    background-repeat: repeat-x;


    @include xy-grid(
            $direction: horizontal,
            $wrap: false
    );

    @include xy-gutters(
            $negative: true
    );

    & > * {
      @include xy-cell(
              $size: auto,
              $gutter-output: true
      );
    }

    & > *:first-child {
      @include xy-cell(
              $size: shrink,
              $gutter-output: false
      );
    }

    .block--menu {
      nav > ul {
        @include xy-grid(
              $direction: horizontal,
              $wrap: false
        );

        & > li {
          @include xy-cell(
            $size: auto,
            $gutter-output: true,
            $gutters: theme('rythm', 'left.large'),
            $gutter-type: margin,
            $gutter-position: right left,
            $breakpoint: medium,
            $vertical: false
          );

          & > a {
            @include style('typography', 'h3');
          }

          ul a {
            font-size: theme('font', 'size.small');
          }
        }

        ul {
          @include menu-nested(
                  $margin: 0
          );
        }
      }
    }


    // Special case, shouldn't
    #block-primarylinks {
      @include style('typography', 'h3');
      font-weight: theme('font', 'weight.base');

      nav > ul {
        display: block;
      }
    }
  }

  &.region--footer-left, &.region--footer-right {
    font-size: theme('font', 'size.smaller');
  }
}