{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}

{% set label__prefix = block('view__label__prefix')|trim %}
{% set label__content = block('view__label__content')|trim %}
{% set label__suffix = block('view__label__suffix')|trim %}
{% set content__prefix = block('view__content__prefix')|trim %}
{% set content__content = block('view__content__content')|trim %}
{% set content__suffix = block('view__content__suffix')|trim %}

{{ attach_library('casinodelsol/zz_base.view') }}

{% block view__libraries %}
{% endblock %}

<div{{ attributes }}>
    {% block view %}


    <div{{ title_attributes.addClass("label view--label") }}>
        {% block view__label %}

            <div class="label--prefix view--label--prefix">
            {% if label__prefix is not empty %}
                {{ label__prefix|raw }}
            {% else %}
                {{ title_prefix }}
            {% endif %}
            </div>

            <div class="label--content view--label--content">
            {% if label__content is not empty %}
                    {{ label__content|raw }}
            {% else %}
                {{ title }}
            {% endif %}
            </div>

            <div class="label--suffix view--label--suffix">
            {% if label__suffix is not empty %}
                {{ label__suffix|raw }}
            {% else %}
                {{ title_suffix }}
            {% endif %}
            </div>
        {% endblock %}
    </div>





    <div{{ content_attributes.addClass("content view--content") }}>
        {% block view__content %}

            {% if content__prefix is not empty %}
                <div class="content--prefix view--content--prefix">
                    {{ content__prefix|raw }}
                </div>
            {% elseif header %}
                <header class="content--prefix view--content--prefix">
                    {{ header }}
                </header>
            {% endif %}

            <div class="content--content view--content--content">
                {% if content__content is not empty %}
                    {{ content__content|raw }}
                {% else %}
                    {{ exposed }}
                    {{ attachment_before }}

                    {{ rows }}
                    {{ empty }}
                    {{ pager }}

                    {{ attachment_after }}
                    {{ more }}
                {% endif %}
            </div>

            {% if content__suffix is not empty %}
                <div class="content--suffix view--content--suffix">
                    {{ content__suffix|raw }}
                </div>
            {% elseif footer %}
                <footer class="content--suffix view--content--suffix">
                    {{ footer }}
                </footer>
                {{ feed_icons }}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
</div>
