@import 'zz_partial/global-config/theme';

.region--secondary-navigation {
  .block--menu {
    nav ul {
      @include menu-base;
      @include menu-direction(horizontal);
      @include menu-align(right);

      @include breakpoint(medium) {
        justify-content: flex-end;
      }
    }
  }
}