{% extends '@zz_base/field.html.twig' %}

{% block field__content__content %}
    {% for item in items %}
        <div{{ item.attributes.addClass('field--item') }}>
            {% spaceless %}
            {{ item.content['#context'].value|raw }}
            {% endspaceless %}
        </div>
    {% endfor %}
{% endblock %}