@import 'zz_partial/global-config/theme';


.paragraph--type--paragraph-content-accordion .paragraph--content--content {
  @include vertical_rythm(
          $size: 'largest',
          $type: 'margin',
          $silo: 'both'
  );

  .paragraph--type--paragraph-accordion-row {
    @include accordion-item();

    @include vertical_rythm(
            $size: 'largest',
            $type: 'margin',
            $silo: 'both'
    );
  }

  .field.field--field-ca-rows {
    [data-accordion] {
      @include accordion-container(
              $background: transparent
      );
    }
  }

  .field.field--field-ar-title {
    @include styles('typography', 'h3');
    @include accordion-title(
            $padding: theme('rythm', 'bottom.largest'),
            $font-size: theme('font', 'size.large'),
            $color: theme('color', 'tan.base'),
            $border: $accordion-content-border,
            $background-hover: theme('color', 'orange.light')
    );

    @include horizontal_rythm(
            $silo: 'both',
            $type: 'padding',
            $size: 'base',
            $multiplier: 2
    );

    font-weight: theme('fonts', 'weight.base');
    background-color: theme('color', 'orange.base');

    &::before {
      margin-top: 0;
      transform: translateY(-50%);
    }
  }

  .field.field--field-ar-sections {
    @include accordion-content(
            $padding: theme('rythm', 'bottom.base'),
            $border: $accordion-content-border,
            $background: transparent,
            $color: theme('colors', 'brown.base')
    );

    @include vertical_rythm(
            $size: 'large',
            $type: 'margin',
            $silo: 'both'
    );
  }
}