{% extends '@zz_base/field.html.twig' %}

{% block field__libraries %}
    {{ attach_library('casinodelsol/zz_component.content-accordion') }}
{% endblock %}

{#{% block field %}#}
{#{% endblock %}#}

    {#{% block field__label %}#}
    {#{% endblock %}#}

        {#{% block field__label__prefix %}#}
        {#{% endblock %}#}

        {#{% block field__label__content %}#}
        {#{% endblock %}#}

        {#{% block field__label__suffix %}#}
        {#{% endblock %}#}

    {#{% block field__content %}#}
    {#{% endblock %}#}

        {#{% block field__content__prefix %}#}
        {#{% endblock %}#}

        {% block field__content %}
            <div data-accordion>
            {% for item in items %}
                {#<div{{ item.attributes.addClass('field--item').setAttribute('data-accordion-item', true) }}>#}
                    {{ item.content }}
                {#</div>#}
            {% endfor %}
            </div>
        {% endblock %}

        {#{% block field__content__suffix %}#}
        {#{% endblock %}#}

    {#{% block field__footer %}#}
    {#{% endblock %}#}

        {#{% block field__footer__prefix %}#}
        {#{% endblock %}#}

        {#{% block field__footer__content %}#}
        {#{% endblock %}#}

        {#{% block field__footer__suffix %}#}
        {#{% endblock %}#}
