{% extends '@zz_base/paragraph.html.twig' %}

{% block paragraph__libraries %}
    {{ attach_library('casinodelsol/zz_component.content-accordion') }}
{% endblock %}

{% block paragraph %}
    {{ content }}
{% endblock %}

    {#{% block paragraph__label %}#}
    {#{% endblock %}#}

        {#{% block paragraph__label__prefix %}#}
        {#{% endblock %}#}

        {#{% block paragraph__label__content %}#}
        {#{% endblock %}#}

        {#{% block paragraph__label__suffix %}#}
        {#{% endblock %}#}

    {#{% block paragraph__content %}#}
    {#{% endblock %}#}

        {#{% block paragraph__content__prefix %}#}
        {#{% endblock %}#}

        {#{% block paragraph__content__content %}#}
        {#{% endblock %}#}

        {#{% block paragraph__content__suffix %}#}
        {#{% endblock %}#}

    {#{% block paragraph__footer %}#}
    {#{% endblock %}#}

        {#{% block paragraph__footer__prefix %}#}
        {#{% endblock %}#}

        {#{% block paragraph__footer__content %}#}
        {#{% endblock %}#}

        {#{% block paragraph__footer__suffix %}#}
        {#{% endblock %}#}
