@import './utils';

/**
        ATTENTION:
        Museo Sans requires typekit to be loaded on the page.
 */

$_RYTHM_VERT_BASE: 5px;
$_RYTHM_HORIZ_BASE: 15px;

$_RYTHM_VERT_BOTTOM: (
        'smallest': $_RYTHM_VERT_BASE * 0.25,
        'smaller': $_RYTHM_VERT_BASE * 0.5,
        'small': $_RYTHM_VERT_BASE * 0.75,
        'base': $_RYTHM_VERT_BASE * 1,
        'large': $_RYTHM_VERT_BASE * 1.25,
        'larger': $_RYTHM_VERT_BASE * 1.5,
        'largest': $_RYTHM_VERT_BASE * 1.75,
);
$_RYTHM_VERT_TOP: (
        'smallest': $_RYTHM_VERT_BASE * 0.25,
        'smaller': $_RYTHM_VERT_BASE * 0.5,
        'small': $_RYTHM_VERT_BASE * 0.75,
        'base': $_RYTHM_VERT_BASE * 1,
        'large': $_RYTHM_VERT_BASE * 1.25,
        'larger': $_RYTHM_VERT_BASE * 1.5,
        'largest': $_RYTHM_VERT_BASE * 1.75,
);

$_RYTHM_HORIZ_LEFT: (
        'smallest': $_RYTHM_HORIZ_BASE * 0.25,
        'smaller': $_RYTHM_HORIZ_BASE * 0.5,
        'small': $_RYTHM_HORIZ_BASE * 0.75,
        'base': $_RYTHM_HORIZ_BASE * 1,
        'large': $_RYTHM_HORIZ_BASE * 1.25,
        'larger': $_RYTHM_HORIZ_BASE * 1.5,
        'largest': $_RYTHM_HORIZ_BASE * 1.75,
);

$_RYTHM_HORIZ_RIGHT: $_RYTHM_HORIZ_LEFT; // Symmetrical




$rythm: (
        'bottom': $_RYTHM_VERT_BOTTOM,
        'top': $_RYTHM_VERT_TOP,
        'left': $_RYTHM_HORIZ_LEFT,
        'right': $_RYTHM_HORIZ_RIGHT,
);



@function rythm($path) {
  @return -ns($rythm, $path);
}



@mixin vertical_rythm(
  $size: 'base',
  $type: 'margin',
  $silo: 'both',
  $multiplier: 1
) {
  $silos: (
          'top',
          'bottom',
          'both'
  );
  $types: (
          'padding',
          'margin'
  );

  @if -contains($silos, $silo) == false {
    @include -warn-bad-value($silo, $silos, '$silo');
    $silo: 'both';
  }
  @if -contains($types, $type) == false {
    @include -warn-bad-value($type, $types, '$type');
    $type: 'margin';
  }
  @if map-has-key($_RYTHM_VERT_TOP, $size) == false {
    @include -warn-bad-value($size, $_RYTHM_VERT_TOP, '$size');
    $size: 'base';
  }

  @if $silo == 'both' or $silo == 'top' {
    #{$type}-top: map-get($_RYTHM_VERT_TOP, $size) * $multiplier;
  }
  @if $silo == 'both' or $silo == 'bottom' {
    #{$type}-bottom: map-get($_RYTHM_VERT_BOTTOM, $size) * $multiplier;
  }
}



@mixin horizontal_rythm(
  $size: 'base',
  $type: 'margin',
  $silo: 'both',
  $multiplier: 1
) {
  $silos: (
          'left',
          'right',
          'both'
  );
  $types: (
          'padding',
          'margin'
  );

  @if -contains($silos, $silo) == false {
    @include -warn-bad-value($silo, $silos, '$silo');
    $silo: 'both';
  }
  @if -contains($types, $type) == false {
    @include -warn-bad-value($type, $types, '$type');
    $type: 'margin';
  }
  @if map-has-key($_RYTHM_HORIZ_LEFT, $size) == false {
    @include -warn-bad-value($size, $_RYTHM_HORIZ_LEFT, '$size');
    $size: 'base';
  }

  @if $silo == 'both' or $silo == 'left' {
    #{$type}-left: map-get($_RYTHM_HORIZ_LEFT, $size) * $multiplier;
  }
  @if $silo == 'both' or $silo == 'right' {
    #{$type}-right: map-get($_RYTHM_HORIZ_LEFT, $size) * $multiplier;
  }
}