@import 'foundation-sites/scss/foundation';
@import 'foundation-sites/scss/util/util';
@import 'foundation-sites/scss/util/mixins';


@import './settings';
@import './utils';
@import './colors';
@import './fonts';
@import './typography';
@import './rythm';



@function theme($type, $path) {
  $allowed_types: (
    'color': $colors,
    'colors': $colors,
    'typography': $typography,
    'font': $font,
    'fonts': $font,
    'rythm': $rythm,
  );
    @if map-has-key($allowed_types, $type) == false {
        @error 'The theme set "#{$type}" does not exist.';
    }
    @else {
        @return -ns(map-get($allowed_types, $type), $path);
    }
}

@mixin style($map, $path) {
  $map: theme($map, $path);
  @if (type-of($map) == 'map') == false {
    @error 'The path "#{$path}" on map "#{$map}" does not contain a map. I can\'t convert its value to styles.';
  }

  @each $key, $value in $map {
    #{$key}: $value;
  }
}

// Alias of styles()
@mixin styles($map, $path) {
  @include style($map, $path);
}