/**
 * -ns(map $map, string $path)
 *
 * Convert dot notation string to a getter for nested maps.
 * E.g. -ns($some-config, 'foo.bar.qux.baz') becomes:
 *   map-get(map-get(map-get($some-config, foo), bar), qux), baz)
 *
 * @private
 */
@function -ns($map, $path) {
  $keys: ();
  $separator: '.';
  $index : str-index($path, $separator);

  @while $index != null {
    $item: str-slice($path, 1, $index - 1);
    $keys: append($keys, $item);
    $path: str-slice($path, $index + 1);
    $index : str-index($path, $separator);
  }

  $keys: append($keys, $path);

  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}


@function -str-to-list($string, $separator: ' ', $startAt: 1) {
  $workStr: str-slice($string, $startAt);
  $list: ();
  $indexOfFirstSpace: str-index($workStr, $separator);
  @if $indexOfFirstSpace == null {
    $list: ($workStr);
  } @else {
    $list: (str-slice($workStr, 1, $indexOfFirstSpace - 1));
    $list: join($list, -str-to-list($workStr, $startAt: $indexOfFirstSpace + 1));
  }
  @return $list;
}

@function -implode($list, $glue: ' ', $is-nested: false) {
  $result: null;

  @for $i from 1 through length($list) {
    $e: nth($list, $i);

    @if type-of($e) == list {
      $result: $result#{-implode($e, $glue, true)};
    }

    @else {
      $result: if($i != length($list) or $is-nested, $result#{$e}#{$glue}, $result#{$e});
    }
  }

  @return $result;
}


@function -contains($list, $item) {
  @return index($list, $item) != null;
}


@mixin -warn-bad-value($value-given, $possible-values, $value-name) {
  @warn '#{$value-given} is not a valid #{$value-name}. Your options are: #{-implode($possible-values, ', ')}.';
}