@import 'zz_partial/global-config/theme';

.field--field-bb-link {
  @include vertical_rythm(
          $size: 'largest',
          $type: 'margin',
          $silo: 'both'
  );

  .field--content {
    position: relative;

    .field--item {
      text-align: center;

      a {
        @include button(
                $expand: false,
                $background: theme('color', 'orange.base'),
                $background-hover: theme('color', 'orange.light'),
                $color: theme('color', 'tan.base'),
                $style: solid
        );

        @include styles('typography', 'h3');

        @include horizontal_rythm(
                $silo: 'both',
                $type: 'padding',
                $size: 'base',
                $multiplier: 2
        );

        @include vertical_rythm(
                $silo: 'both',
                $type: 'padding',
                $size: 'base',
                $multiplier: 2
        );
      }
    }
  }
}